@import url("https://fonts.googleapis.com/css2?family=Brygada+1918:wght@700&family=Nunito&display=swap");
:root {
  --nunito: "Nunito", sans-serif;
  --red: #e10414;
  --fontLogo: "Brygada 1918", serif;
}
